*{
    margin: 0;
    padding: 0;
    
}
.name{
    font-family: 'aleo';
    
}
.main{
background-color: #EDE9E3;
height: 3000px;
}

                            /* main header  */
.main-header{
    background-color: #040120;
}

                            /* images setting */
.images{
    width: 200px;
}

.links ul li{
    list-style: none;
    display: inline;
    margin: 20px;
    position: relative;
    left: 823px;
    bottom: 67px;
    color: #EDE9E3;
    font-family:'Aleo';

}


.ul-tag li{
    font-size: 20px;
}

.nav-class{
    height: 110px;
}
.main-poster{
    display: flex;
    width: 10px;
    justify-content: space-between;
    gap: 158px;
}
.img-poster img{
    width: 42rem;
}
.names {
    font-size: 5rem;
  font-family: 'aleo';
}

.div-img{
    width: 20%;
}





.features-text{
    font-family: 'aleo';
   
    width: 291px;
    padding: 22px 2px 17px 39px;
    margin: 4px;
    border-radius: 48px 0;
}


.paregraph{
    color: #717171;
    width: 794px; 
    font-size: 22px;
}



.main-1
{
    display: flex;
    justify-content: space-around;
    
}


.img-1 img{
    width: 587px;
}
.padding-para{
    padding: 12px;
}
.padding-para1{
    padding: 8px;
}
 
 





@media only screen and (max-width: 395px){
.images{
    width: 132px;
    height: 82px;
}
.nav-class{
    height: 82px;
}
.main-header{
      width: auto;
}
.img-poster img{
    width: 10rem;
}
.main-poster .names{
    display: grid;
    font-size: 23px;
    margin: -132px;
    height: 408px;
}
.features-text{
     
}
.main-1{
   display: block;


}
.img-1 img{
    width: 360px;
}
.img-text p{
    width: 335px;
    margin: 5px;
}
.mar-h2{
    margin: 12px;
}
.img-for-small img{
    width: 55px;
}
.border1{
    margin: 2px;
 border: 5px solid #040120 ;
}
}
